header
    #main-header
        #header-content
            .logoArea
                img(src='images/logo.png')
            nav
                ul
                    li
                        尽情地书写你的代码并与朋友们分享吧
    #sub-header
