.main-body#j-main-body
    .main-body-container#j-main-body-container
        .chat-header#j-chat-header
            .chat-consult-tip
                .chat-user-info
                    .chat-user-info-base
                        span 东风破
                        span (15605198269)
                        span 南京
                    .chat-user-info-consult-category-detail
                        span 【PC】常规咨询--投诉
                .chat-order-info
                     span 正在咨询：【65445444】
                     a(href='http://t.dianping.com/deal/154678',target='_blank')超级好吃的黄焖鸡
                     span 100张
                     span 订单金额：1000000
        .chat-body#j-chat-body
            .chat-message-list
                .chat-message-item.clearfix
                    .chat-message-item-time
                        ='2014-11-11 11:11'
                    .chat-message-item-kefu.pull-right
                        .chat-message-item-face.pull-right
                            img(src='/img/1.png')
                        .chat-message-item-content.pull-right
                            ='请问你叫什么名字?'
                .chat-message-item.clearfix
                    .chat-message-item-time
                        ='2014-11-11 11:16'
                    .chat-message-item-user.pull-left
                        .chat-message-item-face.pull-left
                            img(src='/img/2.png')
                        .chat-message-item-content.pull-left
                            ='我叫俞超'
                .chat-message-item.clearfix
                    .chat-message-item-time
                        ='2014-11-11 11:17'
                    .chat-message-item-kefu.pull-right
                        .chat-message-item-face.pull-right
                            img(src='/img/1.png')
                        .chat-message-item-content.pull-right
                            ='哦，知道了，拜拜!'
                .chat-message-item.clearfix
                    .chat-message-item-time
                        ='2014-11-11 11:16'
                    .chat-message-item-user.pull-left
                        .chat-message-item-face.pull-left
                            img(src='/img/2.png')
                        .chat-message-item-content.pull-left
                            ='拜拜你妹，劳资还没问问题呢，给劳资的黄焖鸡退款!'
                .chat-message-item.clearfix
                    .chat-message-item-time
                        ='2014-11-11 12:17'
                    .chat-message-item-kefu.pull-right
                        .chat-message-item-face.pull-right
                            img(src='/img/1.png')
                        .chat-message-item-content.pull-right
                            ='滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚滚!'
        .chat-footer-edit-area#j-chat-footer
            .chat-footer-edit-toolbar.clearfix
                a.i-icon-face.click-toggle(title='选择表情', toggle-target='#j-chat-qq-face')
                .chat-qq-face#j-chat-qq-face
                a.i-icon-pic(title='上传图片')
                a.i-icon-transfer(title='转接', data-toggle="modal", data-target=".bs-example-modal-sm")
                .modal.fade.bs-example-modal-sm(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
                    .modal-dialog.modal-sm
                          .modal-content
                              .modal-header
                                  button.close(data-dismiss='modal')
                                      span(aria-hidden='true') x
                                  h4.modal-title 请选择要转接的技能组
                              .modal-body
                                  .list-group 
                                      a.list-group-item 团购
                                      a.list-group-item 投诉
                                      a.list-group-item 活动
                                      a.list-group-item 咨询
                a.recommend-situation
                    i.i-icon-heart
                    span.recommend-situation-text 满意度评价

            .chat-footer-edit-text.click-hide(contenteditable='true', hide-target='#j-chat-qq-face')
            .chat-footer-edit-btn.clearfix
                .btn-items.pull-right
                    button.btn.btn-danger 结束对话
                      //-i.glyphicon.glyphicon-remove
                    button.btn.btn-success 发送
                      //-i.glyphicon.glyphicon-ok
