.sidebar-left#j-sidebar-left
    ul.nav.nav-tabs(role='tablist')
        li.active(role="presentation")
            a#current-user-tab(href="#current-user-container",role="tab",data-toggle="tab",aria-controls="current-user-container", aria-expanded="true") 当前访客
        li(role="presentation")
            a#history-user-tab(href="#history-user-container",role="tab",data-toggle="tab",aria-controls="history-user-container", aria-expanded="false") 历史访客
    .tab-content
        .tab-pane.fade.active.in#current-user-container(role='tabpanel', aria-labelledby='current-user-tab')
            ul.list-group
                li.chat-list-item.list-group-item.no-border.clearfix.marked
                    a
                        img.i-mark.icon-unmarked(src='/img/mark-close.png')
                        img.i-mark.icon-marked(src='/img/mark-open.png')

                    img.user-head.pull-left(src='/img/default-head.png')
                    .user-info.pull-left
                        .user-nick-name-from
                            strong 东风破破破(手机)
                        .last-message
                            诶哟，今天天气不错
                    span.badge.badge-danger.i-badge 14
                li.chat-list-item.list-group-item.no-border.clearfix
                    a
                        img.i-mark.icon-unmarked(src='/img/mark-close.png')
                        img.i-mark.icon-marked(src='/img/mark-open.png')
                    img.user-head.pull-left(src='/img/1.png')
                    .user-info.pull-left
                        .user-nick-name-from
                            strong 东风破破破(PC)
                        .last-message
                            诶哟，今天天气不错
                    span.badge.badge-info.i-badge !
                li.chat-list-item.list-group-item.no-border.clearfix
                    a
                        img.i-mark.icon-unmarked(src='/img/mark-close.png')
                        img.i-mark.icon-marked(src='/img/mark-open.png')
                    img.user-head.pull-left(src='/img/2.png')
                    .user-info.pull-left
                        .user-nick-name-from
                            strong 东风破破破(微信)
                        .last-message
                            诶哟，今天天气不错
                    a.badge.badge-close.i-badge X
                li.chat-list-item.list-group-item.no-border.clearfix.i-close
                    a
                        img.i-mark.icon-unmarked(src='/img/mark-close.png')
                        img.i-mark.icon-marked(src='/img/mark-open.png')
                    img.user-head.pull-left(src='http://preview.quanjing.com/ibrf006/ibxkre00600484.jpg')
                    .user-info.pull-left
                        .user-nick-name-from
                            strong 东风破破破(手机)
                        .last-message
                            诶哟，今天天气不错
                    span.badge.badge-danger.i-badge 14
        .tab-pane.fade#history-user-container(role='tabpanel', aria-labelledby='history-user-tab')
