extends layout
block content
    #container
        #content
            #mainbar
                .editor-wrap
                    #editor
                #runArea
                    button#btn_click='运 行'
                #output
                    pre
                        code.result
            #sidebar
