doctype 5
html
    include includes/head
  body
          include includes/header
          #wrapper
              include includes/sidebar-left
              include includes/main-body
              include includes/sidebar-right
          include includes/scripts
