doctype 5
html
    include includes/head
  body
          include includes/header
          .main-container#j-main-container
              include includes/sidebar-left
              include includes/main-body
              include includes/sidebar-right
          include includes/scripts
