doctype 5
html
  head
    title= title
    include ../public/stylesheets/style.css
    include ../public/stylesheets/index.css
    script(src='/javascripts/jquery.min.js')
  body
    block content
    script(src='lib/require.js')
    include ../public/javascripts/index.js
