doctype 5
html
  head
    title= title
    include ../public/stylesheets/style.css
    include ../public/stylesheets/index.css
  body
    block content
    //-script(src='/javascripts/jquery.min.js')
    //-script(src='lib/require.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://raw.github.com/jrburke/requirejs/master/require.js')

    include ../public/javascripts/index.js
