.main-container
	width 100%
	position absolute
	top 50px

.sidebar-left, .sidebar-right
	position absolute
	padding 10px
	width 350px
.sidebar-left
	left 0
.sidebar-right
	right 0
.main-body
	position absolute
	left 350px
	background #F5F5F1
	padding 0 10px
	height 1000px
	.main-body-container
		background #FFF
		height 100%
