body, p, pre, h1, h2, h3, h4, h5, textarea,ul,li
	margin 0
	padding 0

h3
	margin 15px 0

body
	font 14px "Lucida Grande" Helvetica Arial sans-serif

a
	color #00B7FF
li
	list-style-type none
.caret.i-caret
	margin-left 5px !important
.no-border 
	border 0 !important
.badge
	&.badge-danger
		background #F00 !important
	&.badge-info
		background #428BCA !important
	&.badge-close
		padding 5px 8px
		font-size 12px
		font-weight normal
		border-radius 12px
	&.badge-satisfied
		width 32px
		height 32px
		background url('/img/satisfied.png')
	&.badge-disatisfied
		width 32px
		height 32px
		background url('/img/disatisfied.png')
	&.badge-no-evaluation
		width 32px
		height 32px
		background url('/img/no-evaluation.png')
a:hover
	cursor pointer
