#container
	width 100%
	#config
		position absolute
		width 13%
		height 100%
		padding 1%
		.configArea
			margin-bottom 50px
			.configSpan
				position relative
				margin-bottom 20px
				.configSelect
					position absolute
					left 75px
					select
						width 110px
		.shortCut .configSelect
			padding 4px 6px
			font-size 11.844px
			font-weight bold
			line-height 14px
			color #FFF
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
			background-color #999
			border-radius 3px
			display inline-block
	#editor-wrap
		position absolute
		left 15%
		top 0
		width 48%
		height 800px
		#editor
			width 100%
			height 100%
    #ioArea
		position absolute
		right 20px
		top 0
		width 35%
		#inputArea
			.titleArea h3
				margin-top 2px
			textarea
				width 96%
				height 250px
				border-radius 5px
				border-color #AFAFAF #9F9F9F #9F9F9F #AFAFAF
				border-width 1px
				line-height 15px
				padding .5em
				background #FFF
		#runArea
			position relative
			height 40px
			#btn_share
				float left
			#btn_click
				float right
		#outputArea
			pre
				margin-top 5px
				padding 2%
				height 290px
				border-radius 10px
			code
				color green
				font-size 15px
