#container {
  width: 100%;
  position: relative;
  height: 800px;
}
#container #config {
  position: absolute;
  width: 15%;
  height: 100%;
  padding: 0.5%;
}
#container #config .configArea {
  margin-bottom: 50px;
}
#container #config .configArea .configSpan {
  position: relative;
  margin-bottom: 20px;
}
#container #config .configArea .configSpan .configSelect {
  position: absolute;
  left: 75px;
}
#container #config .configArea .configSpan .configSelect select {
  width: 110px;
}
#container #config .shortCut .configSelect {
  padding: 4px 6px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
  border-radius: 3px;
  display: inline-block;
}
#container #editor-wrap {
  position: absolute;
  left: 16%;
  top: 0;
  width: 48%;
  height: 700px;
}
#container #editor-wrap #editor {
  width: 100%;
  height: 100%;
}
#container #editor-wrap #editor .inLoading {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 200px;
  height: 20px;
}
#ioArea {
  position: absolute;
  right: 20px;
  top: 0;
  width: 34%;
}
#ioArea #inputArea .titleArea h3 {
  margin-top: 2px;
}
#ioArea #inputArea textarea {
  width: 96%;
  height: 250px;
  border-radius: 5px;
  border-color: #afafaf #9f9f9f #9f9f9f #afafaf;
  border-width: 1px;
  line-height: 15px;
  padding: 0.5em;
  background: #fff;
}
#ioArea #runArea {
  margin-top: 10px;
  position: relative;
  height: 40px;
}
#ioArea #runArea #btn_share {
  float: right;
}
#ioArea #runArea #btn_click {
  float: left;
}
#ioArea #outputArea pre {
  margin-top: 5px;
  padding: 2%;
  height: 290px;
  border-radius: 10px;
}
#ioArea #outputArea code {
  color: #008000;
  font-size: 15px;
}
