body, p, pre, h1, h2, h3, h4, h5, textarea
	margin 0
	padding 0

h3
	margin 15px 0
body
	font 14px "Lucida Grande" Helvetica Arial sans-serif


a
	color #00B7FF


pre
	background #F5F5F1
	overflow auto

code
	font-family Consolas Menlo Monaco Lucida Console Liberation Mono DejaVu Sans MonoBitstream Vera Sans MonoCourier Newmonospace serif

.hide
	display none	
select
	color #555
	border 1px solid #CCC
	background #FFF
